@tailwind base;
@tailwind components;
@tailwind utilities;

mark {
  @apply block bg-neutral-500 rounded-[4px] text-white w-fit px-2 py-1;
}

@layer base {
  :root {
    --background: #f2f2f2;
    --background-alt: #fcfcfc;
    --foreground: #050505;

    --primary: #33595a;
    --primary-hover: #264142;
    --secondary: #ceeec3;

    --custom-white: #fcfcfc;
    --custom-black: #050505;
    --custom-grey: #b2b2b2;

    /* tags */
    --favorite: #544eee;
    --warning: #ff5057;
    --status-complited: #00c21f;
    --status-process: #e0ae2e;
    --status-frozen: #2ed5e0;
    --genre-jen: #ff720c;
    --genre-another: #b3b3b3;
    --genre-femslash: #f962ea;
    --genre-slash: #1ba1cb;
    --genre-get: #e02e38;
    --raiting-nc21: #ff1515;
    --raiting-nc17: #fe7da4;
    --raiting-r: #f8a373;
    --raiting-pg13: #9dcb1b;
    --raiting-g: #3dd896;
  }

  .dark {
    --background: #222222;
    --background-alt: #050505;
    --foreground: #eee;
  }
}
